@import "tailwindcss";

@theme {
  --color-background: #101010;
  --color-text: #fff;
  --color-accent: #ffc799;
  --color-gray: #a0a0a0;
  --color-cyan: #99ffe4;
}
body {
  font-family: var(--font-geist-sans);
}
